<body>
    <div class="limiter">       
              <nav class="navbar navbar-expand-lg navbar navbar-light bg-light">
                  <div class="container-fluid">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/2/23/Logo_UTSJR_new.gif"  height="60">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                          <a class="nav-link " aria-current="page" href="/noticiasAdmin">Noticias</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/mostrarUsuarios">Usuarios</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/insertarNoticia">Nueva Noticia</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/RegistrarAd">Nuevo usuario</a>
                          </li>
                       
                        <li class="nav-item">
                          <a class="nav-link" href="/logout" tabindex="-1" >Logout</a>
                        </li>
                      </ul>
                    
                    </div>
                  </div>
                </nav>
                
              </div>
              </body>
  
  